@import "tailwindcss";
@theme {
  --color-bg-gray: #f4f4f5;
  --color-bg-indigo: #4338ca;
  --color-text-black: #09090b;
  --color-border-gray: #e4e4e7;
  --color-text-white: #fafafa;
}

:root {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}
